#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-layout {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100vw;
  height: 100vh;
}
